.audio-player{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 30vw;
    height: 65vh;
    margin: 4%;
    justify-content: center;
    align-items: center;
    color: white;
}

.play-icons{
    display: flex;
    gap: 3vw;
    justify-content: center;
}

.progress-bar
{
    width: 30vw;
    height: 1vh;
    background:white;
}


.icons{
    width: 3vw;
    height: 6vh;
    font-size: 1.5rem;
    border: none;
    color: white;
    background-color: black;
}